
<div class="usuario"> <label>Usuario:</label> <label class="labalA">{{this.nombreUsuarioIS}}  </label></div>

<div class="contenedor">
<div (click)="selectedCard()">
  <div>
    <img src="photos_/f1.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f2.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f3.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f4.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f5.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f6.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f7.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f8.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f9.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f11.jpg" alt=" coco">
  </div>

  <div>
    <img src="photos_/f12.jpg" alt=" coco">
  </div>
</div>
</div>
