div > img{
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px #000;
   transition: .3s;
}

div {
  display: grid;
  grid-template-columns: 
    repeat(
      auto-fit,
      minmax(150px, 1fr)
    )
  ;
  gap: 32px;
}

img:hover{
    transform: scale(0.9);
}

.usuario{
	color: rgb(192, 255, 218);
	font-size: large;
	
	width: 400px;
	height: 50px;
	background-color: rgb(109, 107, 107);
	border-radius: 20px;
	padding: 5px;
	
  margin: 10px;
}
.usuario label{
	border-radius: 0%;
	display: inline-block;
	
  padding: 5px;
	
  margin: 5px;

	background-color: rgb(109, 107, 107);
}

.labalA{
  padding-left: 0px;
}
.contenedor{
  padding-top: 52px;
}
