<p>navigation workse!</p>

<html>
  <head>
    <link rel="stylesheet" href="/navigation.component.css">
  </head>
  <body>
    <nav class="nav">
      <div>
        
      </div>
      <div class="nav_logo">
        <h3 class="nav_name">APP GUARDAR FOTOS</h3>
        <img src="./icons/micon.png" alt="foto">
      </div>
      <label for="check" class="nav_label">
        
      </label>
      
      <ul class="nav_links">
        
        
        <li class="link"><a  routerLink="/photos/new" >Subir fotos</a></li>
        <li class="link"><a  routerLink="/photos/inicioSecion" >Iniciar Secion</a></li>
      </ul>
    </nav>
  </body>
</html>
